extends ../layout

block content
  h1= title
  header
    div.create-book
      a.button(href="/books/new") Create New Book

    div.search 
      form(action=`/books/search`, method="get")
        input(type="search", name="search", placeholder="Search Books" )
        input(type="submit" value="Search")

  table 
    thead 
      tr 
        th Title 
        th Author
        th Genre 
        th Year 
    tbody
    - let data;
    if books
      - data = books
    else
      - data = searchResults
    each book in data
      book
        tr 
          td 
            a(href="/books/" + book.id)= book.title
          td
            = book.author 
          td 
            = book.genre 
          td
            = book.year 
  - var n = 1;
  - var isActive;
  footer
    while n <= pages
      - isActive = activePage == n;
      a.pages(href=`/books/page/${n}` class= isActive ? 'active' : '')= n
      - n++
